[Unit]
Description=Fogproject Service
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
#Restart=always
ExecStartPre=-/usr/bin/docker stop fogproject
ExecStartPre=-/usr/bin/docker rm fogproject 
ExecStartPre=/usr/bin/docker pull linkat/fogproject
ExecStart=/usr/bin/docker run -d -p 20:20 -p 21:21 -p 67:67/udp -p 82:80 -p 69:69/udp --privileged -h dockerfog --name fogproject -v /srv/app/fogproject/mysql:/var/lib/mysql -v /etc/linkat/docker/dnsmasq:/etc/dnsmasq.d/ -e WEB_HOST_PORT=82 -e WEB_HOST_IP=__IP__ linkat/fogproject
 
[Install]
WantedBy=multi-user.target
