[Desktop Entry]
Version=1.0
Name=Refresc del minidlna
GenericName=Minidlna refresh
X-GNOME-FullName=Minidlna refresh
Comment=Script per refrescar el contingut multimedia MiniDLNA
Type=Application
Categories=Application;Development;Utility;
Exec=/etc/Linkat/linkat-minidlna/minidlna_refresh.sh
TryExec=/etc/Linkat/linkat-minidlna/minidlna_refresh.sh
Terminal=false
StartupNotify=true
Icon=/usr/share/pixmaps/minidlna_refresh.png
Name[ca]=Refresc del miniDLNA
